{% extends "layout.html" %}
{% block content %}
  <h2 class="article-title">Home Page - need to be updated</h2>
  {# The rows will be created from the database   #}
  <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <!-- Can use the ISBN to generate the picture automatically -->
          <img src="http://covers.openlibrary.org/b/isbn/9780358004417-M.jpg" alt="...">
          <div class="caption">
            <p class="ISBN">ISBN: 978-0358004417</p>
            <h4>The Defined Dish</h4>
            <!--  -->
            <p class="author">by Roald Dahl</p>
            <p><i class="glyphicon glyphicon-usd"></i>35</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">Buy Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="http://covers.openlibrary.org/b/isbn/9780140328721-M.jpg" alt="...">
          <div class="caption">
            <p class="ISBN">ISBN: 978-0140328721</p>
            <h4>Fantastic Mr. Fox</h4>
            <p></p>
            <p><i class="glyphicon glyphicon-usd"></i>35</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">Buy Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="http://covers.openlibrary.org/b/isbn/9780789479358-M.jpg" alt="...">
          <div class="caption">
            <p class="ISBN">ISBN: 978-0789479358</p>
            <h4>Dinosaur Encyclopedia</h4>
            <p></p>
            <p><i class="glyphicon glyphicon-usd"></i>35</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Add to Cart</a> <a href="#" class="btn btn-default" role="button">Buy Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51JS3JP8YKL._AC_SX184_.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51JS3JP8YKL._AC_SX184_.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51JS3JP8YKL._AC_SX184_.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51JS3JP8YKL._AC_SX184_.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51JS3JP8YKL._AC_SX184_.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>...</p>
            <p class="button"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}