{% extends "layout.html" %}
{% block content %}
  <style>
    .caption {
      height: 100px;
    }
  </style>

  <div class="jumbotron">
    <h1><i class="fa fa-book"></i> C&J's BookStore </h1>
    <p>Welcome to our BookStore!</p>
    <p>"As an intellectual object, a book is prototypically a composition of such great length that it takes a
      considerable investment of time to compose and a still considerable, though not so extensive, investment of time
      to read. In a restricted sense, a book is a self-sufficient section or part of a longer composition, a usage that
      reflects the fact that, in antiquity, long works had to be written on several scrolls and each scroll had to be
      identified by the book it contained. Each part of Aristotle's Physics is called a book. In an unrestricted sense,
      a book is the compositional whole of which such sections, whether called books or chapters or parts, are parts." -
      Quoted from Wiki.</p>
  </div>

  <div class="row">
    <div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='2') }}">
          <div>
            <img alt=""
                 src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-02.jpg"
                 height="75px" role="presentation">
            <div></div>
          </div>
          <div>
            <span>Fantasy</span>
          </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='7') }}">
        <div>
          <img alt="" src="https://m.media-amazon.com/images/G/01/img15/books/icon/27400_icon_140x140_02.png"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Classics</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='4') }}">
        <div>
          <img alt=""
               src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-07.jpg"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Comedy</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='8') }}">
        <div>
          <img alt=""
               src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-04.jpg"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Mystery</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='None') }}">
        <div>
          <img alt=""
               src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-03.jpg"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Cookbooks, Food</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='6') }}">
        <div>
          <img alt=""
               src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-06.jpg"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">History</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='3') }}">
        <div data-value="Literature &amp; Fiction" class="a-row filterLink">
          <div>
            <img alt=""
                 src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-01.jpg"
                 height="75px" role="presentation">
            <div></div>
          </div>
          <div>
            <span class="a-color-base gb-size-small faceoutText aok-block">Horror</span>
          </div>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='10') }}">
        <div>
          <img alt=""
               src=" https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-10.jpg"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">True Crime</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='5') }}">
        <div>
          <img alt="" src="https://m.media-amazon.com/images/G/01/img15/books/icon/27400_icon_140x140_04.png"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Romance</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='1') }}">
        <div>
          <img alt="" src="https://m.media-amazon.com/images/G/01/img15/books/icon/27400_icon_140x140_05.png"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Sci-Fi</span>
        </div>
        </a>
      </div>
      <div class="col-lg-4, col-md-3, col-sm-2">
        <a href="{{ url_for('home', categoryID='9') }}">
        <div>
          <img alt=""
               src="https://m.media-amazon.com/images/G/01/img14/books/icons/11753_books_holiday-branding-icon-evergreen-09.jpg"
               height="75px" role="presentation">
          <div></div>
        </div>
        <div>
          <span class="a-color-base gb-size-small faceoutText aok-block">Young Adult</span>
        </div>
        </a>
      </div>
    </div>
  </div>
  {# The rows will be created from the database #}
  {# Can add a filter dropdown list here #}

  <div class="row">
    {% for book in books %}
    <form action="{{ url_for('home') }}" method="post">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
          <!-- Can use the ISBN to generate the picture automatically -->
          <img src="http://covers.openlibrary.org/b/isbn/{{ book[0] }}-M.jpg" alt="...">
          <div class="caption">
            <p class="ISBN"><input type="hidden" value="{{ book[0] }}" name="ISBN">ISBN: {{ book[0] }}</p>
            <h4><input type="hidden" value="{{ book[1] }}" name="title">{{ book[1] }}</h4>
          </div>
          <div>
{#            <p><i class="glyphicon glyphicon-usd"></i><input type="hidden" value="{{ book[2] }}" name="price">{{ book[2] }}#}
{#              <label for="qty">Quantity: </label>#}
{#              <input type="number" min="1" name="qty" value="1" id="qty" class="qty" style="width: 20%;"></p>#}
{#            <p class="button"><input type="submit" value="Add To Cart">#}

            <p><i class="glyphicon glyphicon-usd"></i><input type="hidden" value="{{ book[2] }}" name="price">{{ book[2] }}</p>
            <p class="button"><input type="submit" value="Add To Cart" class="btn btn-info">
              <a href="{{ url_for('placeorder', ISBN=book[0]) }}" class="btn btn-info" role="button">Buy Now</a>
            </p>
          </div>
        </div>
      </div>
    </form>
    {% endfor %}
  </div>
{#  <script>#}
{#    function incCart() {#}
{#      cartNum = '{{ length }}';#}
{#      print(cartNum);#}
{#      cart = document.getElementById("number");#}
{#      print(cart)#}
{#      cart.textContent = cartNum;#}
{#    }#}
{#  </script>#}
{% endblock content %}