{% extends "layout.html" %}
{% block content %}
  <style>
  .emailerror {
    color:red;
  }
  </style>
  {% if error %}
    <h2 class="emailerror">{{ error }}</h2>
  {% else %}
    <h2>Welcome, you can add books into shopping cart at home page and creat orders here. </h2>
    <small class="form-text text-muted">Please make sure leave your email/account before you place the order.</small><br>
    <small class="form-text text-muted">Create a new account if you are a new customer to us on "<a href="customerinfo">CustomerInfo</a>" page.</small><br>

  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">

  <form id="customerinfo" action="{{ url_for('placeorder') }}" method="post">
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Books in Shopping Cart:</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2"></span>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center">Book Title</th>
                <th class="text-center">Qty.</th>
                <th class="text-center">Price</th>
                <th class="text-center">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
                  <tr>
                    <td class="pt-3-half" id="title" name="bookTitle"><input type="hidden" name="book" value="{{ book[0] }}" class="title">{{ book[1] }}</td>
                    <td class="pt-3-half" contenteditable="true" id="qty"><input type="number" name="qty" value="1" class="qtyValue" oninput="calculateTotal()" min="1"></td>
                    <td class="pt-3-half" id="price" name="price"><input type="number" name="price" value="{{ book[2] }}" class="bookPrice" readonly></td>
                    <td>
                      <span class="table-remove"><button type="submit"
                          class="btn btn-danger btn-rounded btn-sm my-0" formaction="{{ url_for('placeorder2') }}" value="{{ book[0] }}" name="remove">Remove</button></span>
                    </td>
                  </tr>
              {% endfor %}
              <tr>
                <td colspan="3">Total</td>
                <td><i class="glyphicon glyphicon-usd" id="total" name="total"></i></td>
              </tr>
              <tr>
                <td colspan="3"> <input type="email" class="form-control" placeholder="Leave your email before you Place the order" name="customeremail"></td>
                <td>
                  <span class="table-remove"><input type="submit" class="btn btn-primary btn-rounded btn-md my-0" value="Submit"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
  {% if success %}
  <h2>{{ success }}</h2>
  {% endif %}
  <!-- <script type="text/javascript" src="{{url_for('static', filename='placeorder.js')}}"></script> -->
  <script>
    function calculateTotal() {
      quantity = document.getElementsByClassName("qtyValue");
      price = document.getElementsByClassName("bookPrice");
      total = 0;
      for (let i = 0; i < quantity.length; i++) {
        total += quantity[i].value * price[i].value;
      }
      total_row = document.getElementById("total");
      total_row.textContent = total.toFixed(2);
}
    function removeRow() {
      button = event.target;
      span = button.parentNode;
      data = span.parentNode;
      row = data.parentNode;
      while (row.firstChild) {
        row.removeChild(row.firstChild)
      }
    }
    calculateTotal();
  </script>
{% endblock content %}